.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.jumbotron {
background-color: rgba(108, 27, 133, 0.733);
margin-top: 50px;
color: white;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.jumbotron button {
    width: 100%;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.respuestas-collapse .card-body{
    font-weight: 150;
    font-size: large;
    background: rgba(66, 14, 100, 0.335);
    color: white;
}

.card-hotel {
    display: flex;
    flex: 1 250px;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px 0px 0px 0px;
    border: 1px solid rgba(0, 0, 255, 0.20);
    margin: 5px 2px 0px 2px;
}

.card-body img {
    margin-bottom: 10px;
}

.btn-reserva {
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
    border-radius: 0;
}
.tab-content {
    padding-top: 10px;
}

footer {
    padding: 10px;
    background-color: rgba(127, 121, 161, 0.397);
    margin-bottom: 0px;
    margin-top: 10px;
}

footer a:hover {
    text-decoration: none;
}

footer-adress-icon {
    padding-right: 10px;
}
