$yellow: #e0d100;
$violet: rgba(89, 32, 128, 0.733);
$ligth: rgba(253, 252, 245, 0.918);

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
}

.jumbotron {
    background-color: $violet;
    margin-top: 50px;
    color: $ligth;
    font-family: Georgia, 'Times New Roman', Times, serif;
    @include margenes(50px, 10px);
}

.jumbotron button {
    width: 100%;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.respuestas-collapse .card-body{
    font-weight: 150;
    font-size: large;
    background: $violet;
    color: $ligth;
}

.card-hotel {
    display: flex;
    flex: 1 250px;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px 0px 0px 0px;
    border: 1px solid rgba(0, 0, 255, 0.20);
    margin: 5px 2px 0px 2px;
}

.card-body img {
    margin-bottom: 10px;
}

.btn-reserva {
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
    border-radius: 0;
}
.tab-content {
    padding-top: 10px;
}

footer {
    padding: 10px;
    background-color: $violet;
    @include margenes(10px, 0px);
}

footer a {
    color: rgb(178, 213, 224);
    font-weight: 400;
    font-size: large;
}

footer a:hover {
    text-decoration: none;
}

footer-adress-icon {
    padding-right: 10px;
}
